{% extends "base_template.html" %}

{% block title %}
    Pruebas
{% endblock %}

{% block content %}
    <h1>Clases mayor - menor</h1>
    {% for user in users %}
            <div class="{{ 'mayor' if user.age > 23 else 'menor' }}">{{ user }}</div>
    {% endfor %}

    <h1>Mostrar mayores de 23</h1>
    {% for user in users if user.age > 23 %}
        <div>{{ user }}</div>
    {% endfor %}
    <!--<strong>Recorriendo diccionario:</strong><br>
    {% for key in user %}
        {{ key }} = {{ user[key] }}<br>
    {% endfor %}

    <br><br><strong>Recorriendo lista:</strong><br>
    {% for number in numbers %}
        {% if loop.index % 2 == 0 %}
            <div style="background-color:blue;">{{ number }}</div>
        {% else %}
            <div style="background-color:green;">{{ number }}</div>
        {% endif %}
    {% endfor %}

    <br><br><strong>Recorriendo lista:</strong><br>
    {% for number in numbers %}
        <div class="{{ loop.cycle('b_red', 'b_blue', 'b_green') }}">{{ number }}</div>
    {% endfor %}

    <strong>Recorriendo lista con doble bucle</strong>
    {% for firstNumber in numbers %}
        {% set firstLoop = loop %}
        {% for number in numbers %}
            <div class="clase_{{ firstLoop.index }}_{{ loop.index }}">{{ firstNumber }} - {{ number }}</div>
        {% endfor %}
    {% endfor %}

    <strong>Mostrando usuarios mayores de 23 años</strong>
    {% for user in users %}
        {% if user.age > 23 %}
            <div>{{ user }}</div>
        {% endif %}
    {% endfor %}-->
{% endblock %}